{% extends "base.html" %}
{% block head %}
        <title>Timeline Project</title>
        <link type="text/css" href="{{url_for('static', filename='../static/styles/index.css')}}" rel='stylesheet' />
        <link href="{{url_for('static', filename='../static/styles/bootstrap.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
{% block content %}

<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color=#FFFFFF>
      <div class="page-header-image" data-parallax="true">
        <div class="landscape-eff"></div>
        <div class="filter-eff"></div>
        <canvas id="canvas"></canvas>
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/img/me.jpeg" alt="Image"/></a></div>
          <div class="h2 title">Ivanna Gomez Quiroz</div>
          
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="timeline-p">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Timeline Project</div>

        <!-- Main Container -->
    <div class="post-form-container mt-5">
      <form id="form">
        <label>Name</label><br>
        <input type="text" value="Name" id="name" name="name"><br>
        <label class="mt-3">Email</label><br>
        <input type="email" value="example@email.com" id="email" name="email"><br>
        <label class="mt-3">Content</label><br>
        <input type="text" value="Post content" id="content" name="content"><br>
        <button class="mt-3" type="submit">Submit</button>
      </form>
    </div>
      <div class="timeline mt-5">
        <div class="card">
          <div class="card-header h6">Posts</div>
          <div class="card-body gy-5" style="--bs-gutter-x: 0; padding: 2.5rem;">
            <div id="posts"></div>
          </div>
        </div>
      </div>
      </div>
    </div>
    
  </div>
</div>






    </div>
    <footer class="footer">
      <div class="container text-center mt-5"><a class="cc-facebook btn btn-link" href="#"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Ivanna Gomez Quiroz</div>
      
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.2/dat.gui.js"></script>
    <script type="module" src="../static/js/timeline.js"></script>
      
    <script src="static/scripts/script.js?ver=1.1.0"></script>

</html>

{% endblock %}
